@import url("/assets/fonts/MonumentGrotesk/stylesheet.css");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	color-scheme: dark;
}

body {
	font-family: "Monument Grotesk", sans-serif;
	font-size: 1rem;
	background: rgb(4, 1, 14);
}

.container {
	padding: 0 15px;
	margin: 0 auto;
}
.container1 {
	padding: 0 0px;
	margin: 0 auto;
}

/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

/* Large */
@media (min-width: 1300px) {
	.container {
		width: 1300px;
	}
}
/* Small */
@media (min-width: 768px) {
	.container1 {
		width: 750px;
	}
}

/* Medium */
@media (min-width: 992px) {
	.container1 {
		width: 970px;
	}
}

/* Large */
@media (min-width: 1300px) {
	.container1 {
		width: 1300px;
	}
}

/* Reset */
button,
input,
textarea,
a {
	font-family: inherit;
}

button {
	background: none;
	border: none;
	outline: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

/* End reset */

.main-btn {
	display: flex;
	align-items: center;
	gap: 10px;
	background-image: linear-gradient(180deg, #592FEA 0%, #7A58EE 100%);
	padding: 8px 20px;
	border-radius: 24px;
	font-size: 14px;
}

.secondary-text {
	opacity: 0.6;
}

header {
	background: rgba(4, 1, 14, 0.3);
	border-bottom: thin solid rgba(255, 255, 255, 0.1);
	padding: 8px 10px;
	position: sticky;
	top: 0;
	z-index: 3;
	backdrop-filter: blur(30px)
}

header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
}
header {
	background: rgba(4, 1, 14, 0.3);
	border-bottom: thin solid rgba(255, 255, 255, 0.1);
	padding: 8px 10px;
	position: sticky;
	top: 0;
	z-index: 3;
	backdrop-filter: blur(30px)
}

header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
}
.logo {
	display: flex;
	align-items: center;
  }
  
  .logo img {
	width: 130px; /* Adjust as needed */
	height: auto; /* Keeps aspect ratio */
	max-width: 100%; /* Ensures it scales down if needed */
}
.logo1 {
	display: flex;
	align-items: center;
  }
  
  .logo1 img {
	width: 150px; /* Adjust as needed */
	height: auto; /* Keeps aspect ratio */
	max-width: 100%; /* Ensures it scales down if needed */
  }


#hero .content {
	padding: 100px 0;
	width: 100%;
	max-width: 500px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	text-align: center;
}


#hero .content {
	padding: 100px 0;
	width: 100%;
	max-width: 500px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	text-align: center;
}

#hero .content .hero-heading {
	font-size: 52px;
}

@media (max-width: 500px) {
	#hero .content .hero-heading {
		font-size: 40px;
	}
}

footer {
	background: linear-gradient(rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(rgba(91, 47, 234, 0.05) 0%, rgba(228, 207, 255, 0.03) 100%);
	border-top: thin solid rgba(255, 255, 255, 0.1);
	padding: 30px 0px;
}

footer .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	max-width: 500px;
	margin-inline: auto;
}

footer .content .social {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	flex-wrap: wrap;
	padding-top: 15px;
	padding-bottom: 15px;
}

footer .content .social .sm-link {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.05);
	border: thin solid rgba(255, 255, 255, 0.10);
	border-radius: 8px;
	height: 32px;
	width: 32px;
}

footer .content .club-about {
	display: flex;
	flex-direction: column;
	gap: 1.0em;
	text-align: center;
	padding-top: 1.3em;
	padding-left: 8px;
	padding-right: 8px;
	border-top: thin solid rgba(255, 255, 255, 0.3);
}


footer .footer-rows {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 2em;
}

footer .footer-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 0.8em;
}

footer .footer-row .footer-row-head {
	font-size: 14px;
	font-weight: bold;
}

footer .footer-row-el {
	font-size: 14px;
	opacity: 0.5;
	transition: .4s;
}

footer .footer-row-el:hover {
	opacity: 1;
}
